.main-get-token-info-container {
    border: 2px solid black;
    border-radius: 1px;
    display: flex;
    align-items: baseline;
    justify-content: space-around;
}

.main-get-token-info-p {
    padding: 15px;
}